.button {
    -fx-font-weight: bold;
}

#AnchorPane{
    -fx-background-color: linear-gradient(to right, #c6d3FF, #FFFFFF);
}

.jfx-button {
     -jfx-button-type: RAISED;
     -fx-background-color: #2277aa;
     -fx-text-fill: white;
}